@charset "UTF-8";
/* CSS Document */

/* Conteúdo */

section.conteudo h2 {
  text-align: center;
  font-size: 25px;
  text-transform: uppercase;
  font-weight: 900;
  margin: 70px auto 5px auto;
  color: rgb(255, 1, 1);
}

section.conteudo h2 span {
  text-align: center;
  font-size: 25px;
  text-transform: uppercase;
  font-weight: 900;
  color: rgb(0, 145, 255);
}


/* Rodapé */
footer.footer {
  background: #fafafa;
  padding: 35px 0;
  margin: 50px auto 0 auto;
}

footer.footer p {
  text-align: center;
  font-size: 10px;
}

.termos {
  clear: both;
  display: block;
  text-align: center;
  font-size: 14px;
  margin: 0 0 20px 0;
}

/* Rodapé */

/* Responsivo */
@media (max-width: 700px) {
  img.ultrasecreto {
    width: 80%;
    margin: 5px auto 25px auto;
  }

  section.conteudo h2 {
    font-size: 17px;
  }

  section.conteudo h2 span {
    font-size: 17px;
  }
}

/* Responsivo */